@charset "utf-8";
/* CSS Document */

#paginainicio
{background:#CCF}
#titulo
{background:#C9F; color:#FFF}
#pienombre
{background:#F99; color:#FFF}
#introduccion
{color:#339; size:3; text-align:justify; background:#CFC; width:98%; margin:1%}
#enlaces
{color:#FFF}
#bayas
{background:#C9F; color:#FFF}
#citricos
{background:#6CF; color:#FFF}
#cucurbitaceas
{background:#F98; color:#FFF}
#exoticas
{background:#F9F; color:#FFF}
#frutadulce
{background:#9FC; color:#FFF}
#frutossecos
{background:#FF9; color:#FFF}
#imagenes
{float:left; border:#06F}
#arandano
{float:height; color:#339; size:3; text-align:justify; background:#CFC; width:98%; margin:1%}
#frambuesa
{color:#339; background:#CFC; width:98%; margin:1%}
#fresa
{color:#339; background:#CFC; width:98%; margin:1%}
#grosellaE
{color:#339; background:#CFC; width:98%; margin:1%}
#grosellaN
{color:#339; background:#CFC; width:98%; margin:1%}
#grosellaR
{color:#339; background:#CFC; width:98%; margin:1%}
#zarzamora
{color:#339; background:#CFC; width:98%; margin:1%}
#limon
{color:#339; background:#CFC; width:98%; margin:1%}
#mandarina
{color:#339; background:#CFC; width:98%; margin:1%}
#naranja
{color:#339; background:#CFC; width:98%; margin:1%}
#pomelo
{color:#339; background:#CFC; width:98%; margin:1%}
#melon
{color:#339; background:#CFC; width:98%; margin:1%}
#sandia
{color:#339; background:#CFC; width:98%; margin:1%}
#aguacate
{color:#339; background:#CFC; width:98%; margin:1%}
#carambola
{color:#339; background:#CFC; width:98%; margin:1%}
#coco
{color:#339; background:#CFC; width:98%; margin:1%}
#chirimoya
{color:#339; background:#CFC; width:98%; margin:1%}
#datil
{color:#339; background:#CFC; width:98%; margin:1%}
#frutapasion
{color:#339; background:#CFC; width:98%; margin:1%}
#kiwi
{color:#339; background:#CFC; width:98%; margin:1%}
#litchi
{color:#339; background:#CFC; width:98%; margin:1%}
#mango
{color:#339;background:#CFC; width:98%; margin:1%}
#papaya
{color:#339; background:#CFC; width:98%; margin:1%}
#piña
{color:#339; background:#CFC; width:98%; margin:1%}
#platano
{color:#339; background:#CFC; width:98%; margin:1%}
#albaricoque
{color:#339; background:#CFC; width:98%; margin:1%}
#cereza
{color:#339; background:#CFC; width:98%; margin:1%}
#ciruela
{color:#339; background:#CFC; width:98%; margin:1%}
#higo
{color:#339; background:#CFC; width:98%; margin:1%}
#kaki
{color:#339; background:#CFC; width:98%; margin:1%}
#manzana
{color:#339; background:#CFC; width:98%; margin:1%}
#melocoton
{color:#339; background:#CFC; width:98%; margin:1%}
#nectarina
{color:#339; background:#CFC; width:98%; margin:1%}
#nispero
{color:#339; background:#CFC; width:98%; margin:1%}
#pera
{color:#339; background:#CFC; width:98%; margin:1%}
#uva
{color:#339; background:#CFC; width:98%; margin:1%}
#almendra
{color:#339; background:#CFC; width:98%; margin:1%}
#avellana
{color:#339; background:#CFC; width:98%; margin:1%}
#cacahuate
{color:#339; background:#CFC; width:98%; margin:1%}
#castaña
{color:#339; background:#CFC; width:98%; margin:1%}
#nuez
{color:#339; background:#CFC; width:98%; margin:1%}
#pacana
{color:#339; background:#CFC; width:98%; margin:1%}
#pistacho
{color:#339; background:#CFC; width:98%; margin:1%}